body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	text-align: center;
	font-family: "Permanent Marker", cursive;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

td.light {
	border: 3px #7d1b1b solid;
	width: 55px;
	height: 50px;
	margin: 0px;
}
td.dark {
	border: 2px rgb(204, 202, 202) solid;
	width: 55px;
	height: 50px;
	margin: 0px;
	color: #00ff00;
}

#envelope.light {
	background-color: #d1d3d9;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: rgb(3, 3, 3);
}
#envelope.dark {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.reset button {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 10px;
	font-family: "Permanent Marker", cursive;
	font-size: 18px;
	cursor: pointer;
	margin: 10px 0px;
	border-radius: 0.3em;
	transition: 0.1s;
}
.reset button.light {
	border: 3px solid #000000;
	background-color: #aeafb300;
	color: #000000;
}
.reset button.dark {
	border: 3px solid #00ff00;
	background-color: #282c34;
	color: #00ff00;
}

.reset .light:hover {
	box-shadow: 0 0 7px 0.1px #000000;
}
.reset .dark:hover {
	box-shadow: 0 0 10px 0.05px #00ff00;
}

.reset .light:active {
	box-shadow: 0 0px 3px 0.05px #000000 inset;
}
.reset .dark:active {
	box-shadow: 0 0px 10px 0.05px #00ff00 inset;
}

.game-status,
td {
	font-family: "Permanent Marker", cursive;
	font-size: larger;
}

.darkmode-toggle {
	display: inline-block;
	width: 50px;
	height: 24.2px;
	position: fixed;
	top: 91vh;
	left: 2.5vw;
}

.darkmode-toggle img {
	width: 100%;
	position: absolute;
	left: 0px;
}

.darkmode-toggle #togglehandle {
	height: 20px;
	width: 20px;
	background-color: #e6185c;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 2.15px;
	transition: 0.3s;
}

.darkmode-toggle #togglehandle.light {
	left: 2px;
}
.darkmode-toggle #togglehandle.dark {
	left: 26px;
}
