body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	text-align: center;
	font-family: "Permanent Marker", cursive;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.cell {
	width: 55px;
	height: 50px;
	margin: 0px;
}
.cell.light {
	border: 3px #7d1b1b solid;
}
.cell.dark {
	border: 3px rgb(204, 202, 202) solid;
	color: #00ff00;
}

#envelope {
	display: flex;
	gap: 20px;

	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}
#envelope.light {
	background-color: #d1d3d9;
	color: rgb(3, 3, 3);
}
#envelope.dark {
	background-color: #282c34;
	color: white;
}

#game {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#game,
#scores {
	padding: 0px 20px;
}

.reset-game,
.reset-scores {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 10px;
	font-family: "Permanent Marker", cursive;
	font-size: 18px;
	cursor: pointer;
	margin: 10px 0px;
	border-radius: 0.3em;
	transition: 0.1s;
}
.reset-game.light,
.reset-scores.light {
	border: 3px solid #000000;
	background-color: #aeafb300;
	color: #000000;
}
.reset-game.dark,
.reset-scores.dark {
	border: 3px solid #00ff00;
	background-color: #282c34;
	color: #00ff00;
}

.reset-game.light:hover,
.reset-scores.light:hover {
	box-shadow: 0 0 7px 0.1px #000000;
}
.reset-game.dark:hover,
.reset-scores.dark:hover {
	box-shadow: 0 0 10px 0.05px #00ff00;
}

.reset-game.light:active,
.reset-scores.light:active {
	box-shadow: 0 0px 3px 0.05px #000000 inset;
}
.reset-game.dark:active,
.reset-scores.dark:active {
	box-shadow: 0 0px 10px 0.05px #00ff00 inset;
}

.game-status,
.cell {
	font-size: larger;
}

.darkmode-toggle {
	display: inline-block;
	width: 50px;
	height: 24.2px;
	position: fixed;
	top: 91vh;
	left: 2.5vw;
}

.darkmode-toggle img {
	width: 100%;
	position: absolute;
	left: 0px;
}

.darkmode-toggle #togglehandle {
	height: 20px;
	width: 20px;
	background-color: #e6185c;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 2.15px;
	transition: 0.3s;
}

.darkmode-toggle #togglehandle.light {
	left: 2px;
}
.darkmode-toggle #togglehandle.dark {
	left: 26px;
}

.score-board {
	font-size: larger;
	display: block;
	width: 100%;
	table-layout: fixed;
	/* border-collapse: collapse;
	border: 3px solid purple; */
}

thead th:nth-child(1) {
	width: 30%;
}

thead th:nth-child(2) {
	width: 20%;
}

thead th:nth-child(3) {
	width: 15%;
}

th,
.score-board td {
	padding: 0px, 5px;
}
